.container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  /* width: 25px;
    height: 25px;
     */
  /* display: flex;
    align-items: center; */
  /* font-size: 22px; */
  /* min-width: 232px; */
  /* width: 100%; */
  min-height: 40px;
}

.container:hover {
  background: #f1fcff;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  /* cursor: pointer; */
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: transparent;
  display: block;
  margin-right: 10px;
  border: 1px solid #2196f3;
  border-radius: 2px;
  box-sizing: border-box;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  /* background-color: transparent; */
  /* border: 1px solid #2196f3; */
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  /* background-color: #2196f3; */
  /* border: 1px solid #2196f3;
    border-radius: 2px;
    box-sizing: border-box; */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark__label {
  color: #000;
  font-size: 13px;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid #2196f3;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
