.App {
  /* text-align: center; */
  background: #f3f7fa;
  min-height: 100vh;
  padding-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leftside {
  min-width: 232px;
  min-height: 252px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  /* padding-left: 20px; */
}

.wrapper {
  max-width: 502px;
}

.mainWrapper {
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  max-width: calc(232px + 20px + 502px);
}

.title {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #4a4a4a;
  margin: 20px 20px 0 20px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
}
